<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">

        <script>
            function closeOnBackDropClick({
              currentTarget,
              target
            }) {
              const dialogElement = currentTarget
              const isClickedOnBackDrop = target === dialogElement
              if (isClickedOnBackDrop) {
                dialogElement.close()
              }
            }
            function showNotifications(){
                document.getElementById("modal-example").showModal();
            }
            function closeNotifications(){
                document.getElementById("modal-example").close();
            }
        </script>

        {% block head %}{% endblock %}
    </head>
    <nav class="navbar navbar-dark bg-dark p-3">
        <a class="navbar-brand" href="/">YorikMes</a>
        {% if current_user.is_authenticated %}
            <div class="">
                <button class="btn btn-success opener p-2" type="button" aria-controls="modal-example" onclick="window['modal-example'].showModal()" style="margin-right: 10px;">
                    <img src="{{ url_for('static', filename='img/notification-bell.png') }}" width="20" height="20" alt="">
                </button>
                <img src="{{ url_for('static', filename='img/user-profile-icon.png') }}" width="40" height="40" alt="">
                <span class="text-white p-3" id="name_label">{% if current_user.surname %}{{ current_user.surname }}{% endif %} {{ current_user.name }}</span>
                <style>
                    #name_label {
                      white-space: nowrap;
                      width: 300px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                </style>
                <a class="btn btn-outline-danger" href="/logout">Log out</a>
            </div>
        {% else %}
            <div class="">
                <a class="btn btn-outline-success" href="/login">Log in</a>
                <a class="btn btn-primary" href="/register">Register</a>
            </div>
        {% endif %}
    </nav>
    <body class="bg-secondary">
        <main role="main" class="p-2 text-white">
            <dialog class="dialog bg-dark text-white border border-dark border-5 rounded-3"
                    id="modal-example" onclick="closeOnBackDropClick(event)" aria-labelledby="dialog-name" style="width: 50vw;">
                <form class="dialog__wrapper" method="dialog">
                    <h2 class="dialog__title" id="dialog-name">Notifications</h2>
                    <div class="border border-3 border-secondary rounded-3 scroll_notifications">
                        {% for n in notifications %}
                            <div class="bg-dark rounded-3 p-2 border border-secondary border-3 m-2">
                                <table>
                                    <tr>
                                        <td class="p-1">
                                            <span>{{ n.text }}</span>
                                        </td>
                                        <td class="p-1 text-muted">
                                            <span>{{ n.showed_date_time }}</span>
                                        </td>
                                    </tr>
                                </table>
                                <form>
                                    {% for button in n.buttons %}
                                        {% if button == "ok" %}
                                            {% if chat_id %}
                                                <a class="btn btn-primary p-1" href="/notif_sub_ok/{{ n.id }}?chat={{ chat_id }}">Ok</a>
                                            {% else %}
                                                <a class="btn btn-primary p-1" href="/notif_sub_ok/{{ n.id }}">Ok</a>
                                            {% endif %}
                                        {% elif button == "accept" %}
                                            {% if chat_id %}
                                                <a class="btn btn-success p-1" href="/notif_sub_ac/{{ n.id }}?chat={{ chat_id }}">Accept</a>
                                            {% else %}
                                                <a class="btn btn-success p-1" href="/notif_sub_ac/{{ n.id }}">Accept</a>
                                            {% endif %}
                                        {% elif button == "reject" %}
                                            {% if chat_id %}
                                                <a class="btn btn-danger p-1" href="/notif_sub_rj/{{ n.id }}?chat={{ chat_id }}">Reject</a>
                                            {% else %}
                                                <a class="btn btn-danger p-1" href="/notif_sub_rj/{{ n.id }}">Reject</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </form>
                            </div>
                        {% endfor %}
                    </div><br>
                    <button class="btn btn-success" type="submit" onclick="closeNotifications();">Close</button>

                    <style>
                        div.scroll_notifications {
                            margin:4px, 4px;
                            padding:4px;
                            height: 40vh;
                            overflow-x: hidden;
                            overflow-y: auto;
                            text-align:justify;
                        }
                    </style>
                </form>
            </dialog>
            {% if notifications_default_visible %}
                <script>showNotifications();</script>
            {% endif %}
            <br>
            <div>{% block content %}{% endblock %}</div>
        </main>
    </body>
</html>
