{% extends "base.html" %}

{% block content %}
    <div class="bg-dark p-3 rounded-3" style="width: 50vw; transform: translate(50%, 0);">
        <h1>Change password</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.old_password.label }}<br>
                {{ form.old_password(class="form-control") }}<br>
                {% for error in form.old_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.new_password.label }}<br>
                {{ form.new_password(class="form-control") }}<br>
                {% for error in form.new_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.new_password_again.label }}<br>
                {{ form.new_password_again(class="form-control") }}<br>
                {% for error in form.new_password_again.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <span>{{ form.submit(type="submit", class="btn btn-success") }}</span>
                <span><a href="/profile" class="btn btn-danger m-1">Cancel</a></span>
            </p>
            <div>{{ message }}</div>
        </form>
    </div>
{% endblock %}
