{% extends "base.html" %}

{% block content %}

    {% if current_user.is_authenticated %}
        <div><table><tr>
            <td>
                <div class="scroll rounded-3">
                    {% for user in contacts %}
                        <a class="p-2 text-white" style="text-decoration: none;" href="/chats/{{ user.id }}">
                            {% if user.id == id %}
                            <div class="border p-1 bg-secondary rounded-pill">
                            {% else %}
                            <div class="border p-1 border-secondary border-2 rounded-pill">
                            {% endif %}
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <img src="{{ url_for('static', filename='img/user-profile-icon.png') }}" width="60" height="60" alt="">
                                        </td>
                                        <td>
                                            <span class="p-1" style="margin-left: 15px; font-size: 18px;">{{ user.showed_name }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="p-1" style="margin-left: 15px; font-size: 14px;"
                                                  id="last_mess">{{ user.last_message }}</div>
                                            <style>
                                                #last_mess {
                                                  white-space: nowrap;
                                                  width: 20vw;
                                                  overflow: hidden;
                                                  text-overflow: ellipsis;
                                                }
                                            </style>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div class="messages rounded-3 border border-dark border-5 bg-secondary" style="margin-left: 10px" id="autoscroll">
                    {% block chat %}Please, select a chat{% endblock %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="p-3">
                <div>
                    <a href="/add_chat" class="btn btn-primary">+ Add chat</a>
                </div>
            </td>
            <td class="p-2">
                {% block message %}{% endblock %}
            </td>
        </tr>
        </table></div><br>

    {% else %}
        <center class="p-3 bg-dark" style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 50%;
                        border: 2px solid black;">
            <div style="margin-bottom: 7px;">You have not logged in, yet</div>
            <div>
                <span class="p-2">You should</span>
                <a class="btn btn-success" href="/login">Log in</a>
                <span class="p-1">or</span>
                <a class="btn btn-primary" href="/register">Register</a>
            </div>
        </center>
    {% endif %}

{% endblock %}


{% block head %}
    <style>
        div.scroll {
            margin:4px, 4px;
            padding:4px;
            background-color: #212529;
            width: 27vw;
            height: 70vh;
            overflow-x: hidden;
            overflow-y: auto;
            text-align:justify;
        }
        div.messages {
            margin:4px, 4px;
            padding:4px;
            width: 70vw;
            height: 70vh;
            overflow-x: hidden;
            overflow-y: auto;
            text-align:justify;
        }
    </style>
    {% if current_user.is_authenticated %}
<!--        <meta http-equiv="refresh" content="5">-->
    {% endif %}
{% endblock %}