{% extends "base.html" %}

{% block content %}
<div class="bg-dark p-3 rounded-3" style="width: 50vw; transform: translate(50%, 0);"
     xmlns="http://www.w3.org/1999/html">
        {% if edit %}<h1>Edit profile</h1>{% else %}<h1>Your profile</h1>{% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.avatar.label }}<br>
                <table>
                    <tr>
                        <td>
                            <label for="avatar"><img src="{{ url_for('static', filename='img/user-profile-icon.png'
                                                            if not avatar else 'img/avatars/#' + avatar|string + '.png') }}"
                                                     style="width: 14vw; margin-right: 50%; margin-bottom:10px; aspect-ratio: 1 / 1;"
                                                     id="target" class="rounded rounded-circle"></label>
                        </td>
                    </tr> {% if edit %} <tr>
                        <td>
                            <center>
                                <label for="avatar" class="btn btn-warning" style="width: 10vw;">Change avatar</label>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>*it's better to use square images</span>
                        </td>
                    </tr>{% endif %}
                </table>
                {{ form.avatar(class="form-control", style="display:none;", disabled=not edit, readonly=not edit,
                                **{'onchange':'showImage()'}) }}<br>
                {% for error in form.avatar.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                <script>
                    function showImage() {
                        var imgField = document.getElementById("avatar");
                        var target = document.getElementById("target");
                        var fr=new FileReader();
                        fr.onload = function (e) {
                            target.src = this.result;
                        };
                        fr.readAsDataURL(imgField.files[0]);
                    }
                </script>
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email", disabled=True, readonly=True) }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.nickname.label }}<br>
                {{ form.nickname(class="form-control", disabled=not edit, readonly=not edit) }}<br>
                {% for error in form.nickname.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control", disabled=not edit, readonly=not edit) }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.surname.label }}<br>
                {{ form.surname(class="form-control", disabled=not edit, readonly=not edit) }}<br>
                {% for error in form.surname.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.age.label }}<br>
                {{ form.age(class="form-control", disabled=not edit, readonly=not edit) }}<br>
                {% for error in form.age.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ message }}</p>
            {% if edit %}
                <p>
                    <span>{{ form.submit(type="submit", class="btn btn-success") }}</span>
                    <span><a href="/profile" class="btn btn-danger m-2">Cancel</a></span>
                </p>
            {% else %}
                <p><a href="/change_password" class="btn btn-warning">Change password</a></p>
                <p><a href="/profile?edit=true" class="btn btn-primary">Edit profile</a></p>
            {% endif %}
        </form>
    </div>
{% endblock %}
